<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hola!</h1>
    <p>En este sitio veremos acerca de los distintos "héroes" de la tecnología: Babbage, Berners Lee, Joan Clarke, Margaret Hamilton, Ada Lovelace, Grace Murray Hopper y Alan Turing. </p>
        
    <p>Copiá y pegá estos links y descubrilos! </p>
    <p> http://localhost:3000/babbage</p>
    <p> http://localhost:3000/berners-lee</p>
    <p> http://localhost:3000/clarke</p>
    <p>http://localhost:3000/hamilton</p>
    <p> http://localhost:3000/lovelace</p>
    <p>http://localhost:3000/turing</p>
    
</body>
</html>